node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
.vscode/
skild-af7cd-firebase-adminsdk-fbsvc-d9ddd14834.json
# firebase data connect
.firebase
firebase.json
.firebaserc
dataconnect/
dataconnect-debug.log

.agents/
data.txt
user.json
skills-lock.json